# Indexing

In [1]:
employee_data = ['Ali', 125000, 'Google', 5]

In [2]:
studentData = employee_data[0] + " " + "is working in" + " " + employee_data[2] + " " + "for" + str(employee_data[3]) + " " + "years and his salary is " + str(employee_data[1])

In [3]:
print(studentData)

Ali is working in Google for5 years and his salary is 125000

output: 'Ali is working in Google for 5 years and his salary is 125000'

In [7]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000, '28 Januray 2020', '05 February 2020']

'Hello Ahmed Bilal,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 January 2020.
Your classes will start from 05 February 2020.
Thanks'

In [21]:
msg = "Hello" + " " + studentData[0] + " " + studentData[1] + "," +"\n" + "Your application is accepted for admission in " + studentData[4]+ " " + studentData[3] + " in Government College University."

In [22]:
print(msg)

Hello Ahmed Bilal,
Your application is accepted for admission in BS Computer Science in Government College University.

# 2. Slicing

In [23]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

Outputs:
(For positive slicing)
1. ["Faisalabad", "Lahore", "Islamabad", "Peshawar"]
2. ["Islamabad", "Peshawar", "Quetta", "Sahiwal"]
3. ["Sahiwal", "Rawalpindi", "Sialkot"]

In [26]:
A1 = cities[0:4]
print(A1)

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [27]:
A2 = cities[2:6]
print(A2)

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [28]:
A3 = cities[5:]
print(A3)

['Sahiwal', 'Rawalpindi', 'Sialkot']

In [29]:
print(A1)
print(A2)
print(A3)

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

# Negative Slicing

In [30]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

(For negative slicing)
1. ['Quetta', 'Sahiwal', 'Rawalpindi']
2. ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

In [38]:
C1 = cities[-4:7]
C2 = cities[-5:]
print(C1)
print(C2)

['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3. Update Lists

In [35]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

1. '20 February 2019'
2. 8

In [36]:
studentData.append('20 February 2019')
studentData.append(8)

In [37]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

1. 25000 at index 4
2. 'M. Iqbal' at index 1

In [40]:
#Insert Method
studentData.insert(4, 25000)
studentData.insert(1, 'M . Iqbal')

In [41]:
print(studentData)

['Ali Raza', 'M . Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

Update list using list update method:

1. Change Name from 'Ali Raza' to 'Zohaib Ali'
2. Change No of subjects from 5 to 7

In [42]:
#replacing
studentData[0] = 'Zohaib Ali'
studentData[6] = 7

In [43]:
print(studentData)

['Zohaib Ali', 'M . Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]

Remove values from list using remove method

1. 'Computer Science'
2. 91.24

In [44]:
studentData.remove('Computer Science')
studentData.remove(91.24)

In [45]:
print(studentData)

['Zohaib Ali', 'M . Iqbal', 22, 25000, 7, 'University of Agriculture', '20 February 2019', 8]

Remove using pop method

1. Last value from list
2. value at 3rd index

In [46]:
#Pop method
studentData.pop()

8

In [47]:
studentData.pop(3)

25000

In [48]:
print(studentData)

['Zohaib Ali', 'M . Iqbal', 22, 7, 'University of Agriculture', '20 February 2019']

# Multidimentional List Task

In [51]:
employeeData = [["Ali", 55000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

In [52]:
#1. Print name of employees with salaray greater than 50000
for variable_1 in employeeData:
    salary = variable_1[1]
    if salary > 50000:
        print(variable_1[0])

Ali
Talha
Nasir

In [53]:
#2. Calculate total salary of all employees
totalSalary = 0
for i in employeeData:
    salary = i[1]
    totalSalary += salary
print(totalSalary)

233000

In [54]:
55000 + 55000 + 79000 + 44000

233000

In [55]:
#List update tasks
#1 Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
#2. Change salary of Khalid to 50000
employeeData = [["Ali", 55000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

In [57]:
for s in employeeData:
    if s[0] == 'Nasir':
        s[1] = 90000
        s[2] = "Product Manager"
    elif s[0] == 'Khalid':
        s[1] = 50000
print(employeeData)

[['Ali', 55000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Product Manager'], ['Khalid', 50000, 'DBA']]

# Login User

In [58]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

You have given some users data. You have to write a script to check if username and password are correct. If username and password are correct. Then you have to check if email is verified or not. If it is verified then print Login Succeed else print Email not verified. If username or password are incorrect you have to print Incorrect Login details

In [59]:
if username == 'faizan1213':
    if password == 'qwerty':
        if emailVerified == True:
            print("Login Succeed")
        else:
            print("Email Not Verified")
    else:
        print("Incorrect Login details")
else:
    print("Incorrect Login details")

Incorrect Login details

In [63]:
if username == 'faizan1214':
    if password == 'qwerty':
        if emailVerified == True:
            print("Login Succeed")
        else:
            print("Email Not Verified")
    else:
        print("Incorrect  Password")
else:
    print("Incorrect Username")

Email Not Verified

In [64]:
# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True

In [65]:
if username == 'faizan1214':
    if password == 'qwerty':
        if emailVerified == True:
            print("Login Succeed")
        else:
            print("Email Not Verified")
    else:
        print("Incorrect  Password")
else:
    print("Incorrect Username")

Login Succeed